App/build
App/output
App/App/public
DerivedData
xcuserdata

# ALLOW critical CocoaPods files
!App/Podfile.lock
!App/Pods/Manifest.lock

# Cordova plugins for Capacitor
capacitor-cordova-ios-plugins

# Generated Config files
App/App/capacitor.config.json
App/App/config.xml

GoogleService-Info.plist