<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBH7MTvCsIhachAwSYo46Jrv8ZJf7G4b4I</string>
	<key>GCM_SENDER_ID</key>
	<string>1003217578924</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>us.iGadget.app</string>
	<key>PROJECT_ID</key>
	<string>igadget-8264a</string>
	<key>STORAGE_BUCKET</key>
	<string>igadget-8264a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1003217578924:ios:f04a60ecff732c193ae809</string>
</dict>
</plist>